.header{
    box-shadow: 10px 10px 5px 0px var(--sec-bg-color);
    background: white;
    margin-bottom: 20px;
    svg{
        font-size: 46px;
        margin: 19px;
        color: var(--main-color);
    }
}